@tailwind base;
@tailwind components;

/* .inputs_styles{
    @apply className={`h-1/6 p-5 outline-none md:text-2xl text-white ${
        isSkeleton ? "skeleton" : "bg-transparent shadow-md shadow-black"
      }`};
} */
 .input_shadow{
  box-shadow: inset 2px 3px 4px 2px white;
 }
 .border_bottom{
  border-bottom: 1px solid white;
 }
 .center {
  @apply flex items-center justify-center;
 }
 body{
  background-color: rgb(0, 0, 0);
  z-index: -1;
  width:100vw;

 }
 *{
  overflow-x: hidden;
 }

 .border{
  border:1px solid white;
 
}
.sm_border{
  border:0.2px solid white;
}
button{
  cursor: pointer
 }
 .likes{
  cursor: pointer;
  transition:all 0.1s;
 }
 .Replydiv {
  transition: 0.5s ease-in-out ;
}
.create_post{
  transition: 0.3s ease-in-out 
}
@keyframes gradientWave {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}
.border_curvetop{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.animate-background {
  background-image: linear-gradient(45deg, #3b0a45, #0d0d0d, #1e2a38, #6d223c, #3a3f5b);
  background-size: 400% 400%;
  animation: gradientWave 15s ease infinite;
}
.right-border{
  border-right: 0.2px solid rgb(65, 56, 56);
}
.box:hover{
  background-color: rgb(34, 31, 31);
  border-radius: 10px;
}
.box{
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
  
}
.box p {
  font-weight: 400;

}

.animated_messages {
  animation: vibration 0.3s  ease-in-out;
}

@keyframes vibration {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, -2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}


 
@tailwind utilities;